{% extends 'social/layout.html' %}
{% load humanize %}
{% block content %}
{% load static from static %}

<style>
    .container {
        text-align: center;
        font-size: 1rem;
        padding-top: 1%;
    }

    .btnLog{
        background-color: rgb(0, 31, 66);
        padding: 1%;
        width: 20%;
        color: white;
        cursor: pointer;
    }

    .btnLog:hover{
        background-color: black;
    }
</style>

<div class="container">

    <h1 class="text-center">Su contraseña se reestablecio correctamente</h1>

    <a href="{% url 'login' %}" class="btnLog"> volver al Iniciar sesion</a>

</div>

{% endblock %}