{% extends 'social/layout.html' %}
{% block content %}

<style>
    .container{
        text-align: center;
        font-size: 1rem;
        padding-top: 1%;
    }

    form input{
        text-align: center;
    }

    .btnsend{
        background-color: rgb(0, 31, 66);
        padding: 1%;
        width: 20%;
        color: white;
        cursor: pointer;
    }

    .btnsend:hover{
        background-color: black;
    }
</style>

<div class="container">
<h1>Recuperar contraseña</h1>

<p> ¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva. </p>

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Recuperar mi contraseña" name="send email" class="btnsend">
</form>

</div>

{% endblock %}