body {
  background: rgb(0, 31, 66);
  font-size: 62.5%;
  font-family: "Varela Round", Helvetica, Arial, serif;
}

/* Global Styles*/


h5 {
  font-size: 1rem;
  margin-bottom: 0;
}

p {
  font-size: 1rem;
}

button {
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1.4rem;
  border: none;
  background: #7a9d96;
  border-radius: 4px;
  cursor: pointer;
}

img {
  object-fit: cover;
}

.cards {
  display: flex;
  justify-content: center;
}

@media (max-width:1280px) {
  .cards {
    display: block;
    width: 100%;
  }
}



.hero1 {
  border-radius: 30px;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.hero1:hover {
  background-color: #001F42;
  color: white;
}

/* Nav bar */
.main-head {
  background: white;
  color: black;
}

nav.main {
  min-height: 7vh;
  display: flex;
  width: 65%;
  margin: auto;
  align-items: center;
  padding: 0.5rem;
}

nav.main ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
}

/* -----*/

a {
  font-size: 0.93rem;
  text-decoration: none;
  color: black;
}

.main {
  background: white;
  width: 60%;
  margin: 5% auto;
  border-radius: 4px;
  padding-bottom: 20px;
}

@media (max-width:768px) {
  .main {
    /*IMPORTANTE PARA RESPONSIVE*/
    max-width: 100% !important;
    overflow-x: hidden !important;
    /*FIN DE IMPORTANTE*/
  }
}

.regisasis {
  justify-content: center;
}

/* NAVIGATION BAR */
.second-nav {
  justify-content: center;
  display: flex;
  padding: 15px 30px;
}


@media (max-width:720px) {
  .second-nav {
    margin-top: 30px;
    padding-top: 35px;

    justify-content: center;
    align-items: center;
    margin-left: -28%;
    margin-right: 40%;
    display: block;
    width: 100%;
  }
}

.second-nav .feed {
  flex: 1 1 30px;
}

.second-nav .feed:hover {
  flex: 1 1 30px;
  color: grey;
}

.second-nav .profile {
  flex: 1 1 30px;
}

.second-nav .profile:hover {
  flex: 1 1 30px;
  color: grey;
}

.second-nav .new {
  background: transparent;
  color: rgb(0, 0, 0);
  padding: 15px;
  border: 2px solid black;
  border-radius: 30px;
  margin-left: 38%;
}

.second-nav .new_1 {
  background: transparent;
  color: rgb(0, 0, 0);
  padding: 15px;
  border: 2px solid black;
  border-radius: 30px;
}

.second-nav .new:hover {
  background-color: green;
  transition: 200ms;
  color: white;
}

.hero {
  --gradient-start: green;
  --gradient-end: #ff0000;
  padding: 15px;
  transition: 1000ms --gradient-start, 1000ms --gradient-end;
  background: linear-gradient(to right,
      var(--gradient-start),
      var(--gradient-end));
  border: 2px solid black;
  border-radius: 30px;
  margin-left: 34%;
  color: white;
}

/* .hero1 {
  --gradient-start: green;
  --gradient-end: #ff0000;
  padding: 15px;
  transition: 1000ms --gradient-start, 1000ms --gradient-end;
  background: linear-gradient(to right,
      var(--gradient-start),
      var(--gradient-end));
  border: 2px solid black;
  border-radius: 30px;
  margin-left: 34%;
  color: white;
} */

.hero:hover {
  --gradient-end: green;
  --gradient-start: #ff0000;
}

.btnInf {
  margin: 20px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(0, 31, 66);
  margin-left: 20px;
  color: white;
}

.second-nav .new_1:hover {
  background-color: red;
  color: white;
}

/* Article */

article {
  width: 93%;
  margin: auto;
  padding: 40px 0;
  border-bottom: 2px solid #eceeef;
}

.username {
  margin-bottom: 0.2rem;
}

.username a {
  font-size: 1.1rem;
}

.container-article {
  display: flex;
}

.container-article img {
  height: 68px;
  width: 68px;
  margin-right: 10px;
  border-radius: 50%;
}

article:last-child {
  border-bottom: 0;
}

time {
  font-size: 0.8rem;
  opacity: 0.7;
}

.post1 {
  font-size: 0.94rem;

}

.post {
  background-color: #001F42;
  font-size: 20px;
}

.post:hover {
  background-color: #01648e;
  color: white;
}

/* PROFILE */

.salir {
  background: transparent;
  color: rgb(0, 0, 0);
  padding: 10px;
  border: 2px solid black;
  border-radius: 30px;
}

.salir:hover {
  flex: 1 1 30px;
  /* color: rgb(0, 31, 66); */
  background: rgb(0, 31, 66);
  color: #fff;
  transition: all 0.3s ease;
}

@media (max-width:1280px) {
  .salir {
    display: block;
    width: 100%;
  }
}

.btnact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actualizar {
  background-color: #001F42;
  font-size: 0.94rem;
}

.actualizar:hover {
  background-color: #01648e;
  color: white;
}

.profile {
  width: 100%;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile1 a {
  margin-top: 10px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(0, 31, 66);
  margin-left: 20px;
  color: white;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:768px) {
  .profile {
    justify-content: center;
    align-items: center;
    margin-left: 32%;
    margin-right: 50%;
    display: block;
    width: 100%;
  }
}

@media (max-width:768px) {
  .profile1 {
    justify-content: center;
    align-items: center;
    display: block;
    width: 100%;
  }
}

.profile img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
  border-radius: 50%;
  margin: 20px;
}

.profile h2 {
  margin-top: -10px;
  font-size: 1.3rem;
}

.profile a {
  margin-top: 50px;
}

/* Followers / Following / Post */
.follow {
  display: flex;
  width: 95%;
  justify-content: space-around;
  margin: 30px auto;
  text-align: center;
  border-bottom: 2px solid #eceeef;
  border-left: 2px solid #eceeef;
  border-right: 2px solid #eceeef;
  border-top: 2px solid #eceeef;
  padding-bottom: -1px;
}

/*Form Elements*/
form {
  margin: 0;
  padding: 40px;
  font-size: 1rem;
}

input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #d3d8dc;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777b7e;
}

input[type='checkbox'] {
  width: auto;
}

input[type='radio'] {
  width: auto;
}



input:focus {
  border-color: #7a9d96;
  color: #2c3238;
}

textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #d3d8dc;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777b7e;
}

textarea:focus {
  border-color: #7a9d96;
  color: #2c3238;
}

button#submit {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #001F42;
  color: #fff;
  border: 0;
  border-radius: 4px;
  transition: 0.35s linear;
}

button#submit:hover {
  background-color: #01648e;
  color: white;
}

/*Notifications*/
.notification {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.9rem;
}

.success {
  background: #43dc7e;
  color: white;
}

.error {
  background: #ab3444;
  color: white;
  margin-bottom: 20px;
}

/*Footer*/
footer {
  color: white;
  text-align: center;
  font-size: 0.875em;
  margin: 40px 0;
}

footer p {
  opacity: 0.8;
}

footer p a {
  color: white;
}

img.profile {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 50%;
}

.follow-button {
  color: white;
}

/*Media Queries*/
@media (max-width: 786px) {
  .main {
    width: 95%;
  }
}


/*Estilos para datos medicos */

.boton-datosmedicos{
  background-color: #7a9d96;
  margin: 5px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

#check1{
  
}