{% extends 'social/layout.html' %}
{% load static %}
{% load i18n %}

{% block link %}



{% endblock link %}
{% block title %}
Information
{% endblock title %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="user-id" data-user-id="{{ user.id }}"></div>

    {% if periodo_existente %}
        <!-- Si ya existe el ingreso, mostrar la parte de egreso -->
        <h2>Agregar Egreso</h2>

        <form method="post" enctype="multipart/form-data" action="{% url 'asignaregreso' user_id=user.id %}">
            {% csrf_token %}
            
            <fieldset>
                <legend>Información sobre periodo</legend>
                <br>

                <p>
                    <label class="etiquetaForm">Egreso* </label>
                    <input class="controllers" type="date" name="egreso" id="egresoField" placeholder="Ingresa la fecha de salida" onkeypress="return ch(event)" required>
                </p>
            </fieldset>    
            
            <div class="btnact">
                <button name="boton" onclick="enviarPeriodo()" type="submit" class="actualizar" style="margin-top: 20px;">{{ _('Asignar Egreso') }}</button>
            </div>
        </form>
    {% else %}
        <!-- Si no existe un periodo, mostrar la parte de ingreso -->
        <h2>Agregar Ingreso</h2>

        <form method="post" enctype="multipart/form-data" action="{% url 'asignaregreso' user_id=user.id %}">
            {% csrf_token %}
            
            <fieldset>
                <legend>Información sobre periodo</legend>
                <br>

                <p>
                    <label class="etiquetaForm">Ingreso* </label>
                    <input class="controllers" type="date" name="ingreso" id="ingresoField" placeholder="Ingresa tú fecha de inicio" onkeypress="return ch(event)" required>
                </p>
            </fieldset>    
            
            <div class="btnact">
                <button name="boton" onclick="enviarPeriodo()" type="submit" class="actualizar" style="margin-top: 20px;">{{ _('Asignar Ingreso') }}</button>
            </div>
        </form>
    {% endif %}

    <div>
        <p>Fecha de ingreso actual: {% if periodo_existente.ingreso %} {{ periodo_existente.ingreso }} {% else %} No disponible {% endif %}</p>
    </div>

    <div>
        <p>
            <label class="etiquetaForm">ID* </label>
            <input class="controllers" type="text" name="id" id="idField" disabled=disabled  value="{{ user.id }}" >
        </p>
    </div>

    <script>
        function enviarPeriodo() {
          
            var datos = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                ingreso: $('#ingresoField').val(),
                egreso: $('#egresoField').val(),
                id: $('#idField').val()
            };
        
            // Verificar si el valor de ingreso no está indefinido antes de enviar
            if (datos.ingreso !== undefined) {
                $.ajax({
                    url: "{% url 'asignaregreso'  user.id %}",
                    type: "POST",
                    data: datos,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        console.log(data);
                        console.log("Success");
        
                        // Redirige a la página de perfil después de la actualización del periodo
                        window.location.href = "{% url 'profile' %}";
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            } else {
                console.log("El valor de ingreso es indefinido");
                // Puedes mostrar un mensaje de error o realizar alguna acción adicional si es necesario
            }
        }
    </script>



  <style>
        #hatput {
            width: 90%;
            font-size: 15px;
            text-align: center;
            border-radius: 15px;
            margin-left: 35px;
        }

        #idput-1 {
            text-align: center;
            font-size: 15px;
        }
    </style>





</body>

</html>


{% endblock %}