{% extends 'social/layout.html' %}
{% load humanize %}
{% block content %}

{% for post in posts %}

<article>
    <div class="container-article">
        <img src="{{ post.user.profile.image.url }}">
        <div>
            <h2 class="username"><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></h2>
            <time style="color: #14344F;"> <strong> Tu hora de {{ post.content }} del día </strong>
                {{ post.timestamp }}</time>
            <div class="post1">{{ post.content }}</div>
        </div>
    </div>
</article>


{% endfor %}

{% endblock %}