{% extends 'social/feed.html' %}
<!--{% load static %}-->
{% block content %}

<head>
    <script src="https://kit.fontawesome.com/c8ee4f8012.js" crossorigin="anonymous"></script>
</head>
<!-- Profile -->
<div class="profile">
    {% load static from static %}
    <img src="{{user.profile.image.url}}">
    <h2>{{ user.username }}</h2>

</div>

<div class="profile">
    {% if user.is_superuser%}
    <h2><i style="color: gold;" class='fas fa-crown'></i>&nbsp; Eres Admin </h2>
    {%else%}
    <!-- <h2> No eres Admin :(</h2> -->
    {%endif%}
</div>



<div>

    {% for user in users %}


    <div class="profile">
        <img src="{{ user.profile.image.url }}">
    </div>

    <table border="1" width="100%" align="center" cellpadding="10px">


        <tr>
            <td>
                <h2 class="username"><a href="{%url 'profile' user.username%}"><span> {{ user.information.first_name }}
                            {{ user.information.last_name }}</span></a></h2>
            </td>
            <td>Puesto: <strong> {{ user.information.puesto }} </strong></td>
            <td>Departamento: <strong> {{ user.information.departamento }} </strong></td>
        </tr>
        <tr>
            <td>Ingreso: {{ user.egresos.ingreso }}</td>
            <td>Egreso: {{ user.egresos.egreso}} </td>
            <td><strong> {{ user.email }} </strong></td>
        </tr>
    </table>


    {% endfor %}

</div>


<style>

</style>


{% endblock %}