{% extends 'social/feed.html' %}
<!--{% load static %}-->
{% block content %}

<head>
    <script src="https://kit.fontawesome.com/c8ee4f8012.js" crossorigin="anonymous"></script>
</head>

<form>
    {% csrf_token %}

    <div class="form-group" style="margin-bottom:20px; text-align: center;">
        <label for="hatField">{{_('hat')}}</label>
        <select class="cajasTexto" id="hatField" name="pais" required class="form-control">
            <option value="" disabled selected>{{_('Selecciona usuario y su hat')}}</option>
            {% for a in asighat %}
            <option value="{{ a.hat_id }}">{{a.user.username}} {{ a.hat.nombre_hat }}</option>
            {% endfor %}

        </select>
    </div>
    <div class="form-group">
        <label for="actividadField">{{_('Actividad')}}</label>
        <input type="text" class="form-control" id="actividadField" placeholder="{{ _('Escribe la actividad') }}"
            required>
    </div>
    <div class="form-group">
        <label for="descripcion_Field">{{_('Descripcion')}}</label>
        <input type="text" class="form-control" id="descripcionField" placeholder="{{ _('Coloca la descripcion') }}"
            required>
    </div>


    <div class="btnact">
        <button name="boton" onclick="post()" type="submit" class="actualizar">{{_('Registrar')}}</button>
    </div>

</form>

<div class="scroll_horizontal" style="text-align: center;">

    <style>
        .form-control1 {
            font-size: 15px;
            outline: none;
            background: transparent;
            text-align: center;
        }

        .selectHat,
        .selectUser,
        .selectDepart,
        .selectMonth {
            text-align: center;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 15px;
            border-radius: 5px;
            height: 25px;
        }
    </style>
    <!-- <input style="width: 30%;" onkeyup="filtra_movi()" id="filtro" class="form-control1 col-lg-3 py-1 mr-5" type="text"
        placeholder="Filtrar Hats" aria-label="Search"> -->

    <select class="selectHat" id="hatput" name="pais" required class="form-control" onchange="filtra_movi()">
        <option value="" disabled selected>{{_('Selecciona el Hat')}}</option>
        {% for hat in hat %}
        <option value="{{ hat.nombre_hat }}">{{hat.nombre_hat}}</option>
        {% endfor %}
    </select>


    <select class="selectUser" id="hatput2" name="pais" required class="form-control" onchange="filtra_user()">
        <option value="" disabled selected>{{_('Selecciona el usuario')}}</option>
        {% for users in users %}
        <option value="{{ users.username }}">{{users.username}}</option>
        {% endfor %}
    </select>

    <select class="selectDepart" id="hatput3" name="pais" required class="form-control" onchange="filtra_dept()">
        <option value="" disabled selected>{{_('Selecciona el Departamento')}}</option>
        <option value="Tierra">Tierra</option>
        <option value="Agua">Agua</option>
        <option value="Fuego">Fuego</option>
        <option value="Ignis">Ignis</option>
        <option value="Aire">Aire</option>
        <option value="Ether">Ether</option>
        <option value="Digimundo">Digimundo</option>
    </select>

    <button id="borrado" class="actualizar" onclick="regresar()"> borrar filtro </button>

    <div class="scroller">

        <style>
            .scroller {
                display: flex;
                height: 500px;
                width: auto;
                overflow-y: scroll;
            }
        </style>

        <table id="myTable"
            style="text-align: center; justify-content: center; align-items: center; width: 100%; height: 100%; margin-bottom: 20px;">

            <tr class="header">
                <th>numero</th>
                <th>Actividad</th>
                <th>Descripcion</th>
                <th>Hat</th>
                <th>Responsable</th>
                <th>Departamento</th>
                <th>Fecha y hora</th>
            </tr>
            {% for ac in actividades %}
            <tr>
                <td>{{ ac.id }} </td>
                <td>{{ ac.actividades }}</td>
                <td>{{ac.descripcion}} </td>
                <td>{{ac.hat.nombre_hat}}</td>

                {% for a in asighat %}

                {% if ac.hat_id == a.hat_id %}
                <td>{{a.user.username}}</td>

                {% for info in info %}
                {% if a.user_id == info.user_id %}
                <td id="{{info.departamento}}">{{info.departamento}}</td>
                {% endif %}
                {% endfor %}

                {% endif %}

                {% endfor %}

                <td>{{ac.create_at}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- <button name="boton" onclick="contarFilas()" type="submit" class="actualizar">Calcular</button> -->

</div>

<!-- grafica de ganancias por comisiones -->
<!-- <div id="plotlyChart3" style="display: flex; align-items: center; justify-content: center;"></div> -->
<div class="col-md-4 grid-margin stretch-card" id="general">
    <div class="card">
        <div class="card-body">
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <div id="plotlyChart"></div>
            <div id="plotlyChart2" style="display: flex; align-items: center; justify-content: center;"></div>
            <div id="plotlyChartAct" style="display: flex; align-items: center; justify-content: center;"></div>
        </div>
    </div>
</div>

<div class="col-md-4 grid-margin stretch-card" id="filtrosGrafica">
    <div class="card">
        <div class="card-body">
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <div id="plotlyChartDept" style="display: flex; align-items: center; justify-content: center;"></div>
            <div id="plotlyChartDept2" style="display: flex; align-items: center; justify-content: center;"></div>
            <div id="plotlyChartMeses" style="display: flex; align-items: center; justify-content: center;"></div>
        </div>
    </div>
</div>

<!-- fin de grafica de ganancias por comisiones-->



<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var Tierra = 0, Agua = 0, Fuego = 0, Ignis = 0, Aire = 0, Ether = 0, Digimundo = 0;
    var parametros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31];
    var valores = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

    $('#myTable tbody tr').each(function () {
        var v = $(this).find("td:eq(5)").text();
        if (v == 'Tierra') {
            Tierra += 1;
        } else if (v == 'Agua') {
            Agua += 1;
        } else if (v == 'Fuego') {
            Fuego += 1;
        } else if (v == 'Ignis') {
            Ignis += 1;
        } else if (v == 'Aire') {
            Aire += 1;
        } else if (v == 'Ether') {
            Ether += 1;
        } else if (v == 'Digimundo') {
            Digimundo += 1;
        }
    });

    $(document).ready(function () {

        var $num = document.getElementById('myTable').getElementsByTagName('tr').length - 1;
        console.log($num);
        document.getElementById("filtrosGrafica").style.display = "none";
        var data = [
            {
                x: ['Tierra', 'Agua', 'Fuego', 'Ignis', 'Aire', 'Ether', 'Digimundo'],
                y: [Tierra, Agua, Fuego, Ignis, Aire, Ether, Digimundo],
                type: 'bar',
                marker: {
                    /* color: '#C8A2C8' */
                    color: ['rgba(128, 64, 0,1)', 'rgba(0,170,228,1)', 'rgba(255,0,0,1)', 'rgba(239,184,16,1)', 'rgba(204,204,204,1)', 'rgba(104,255,0,1)', 'rgba(22,75,157,1)'],
                    line: {
                        width: 2.5
                    }
                }
            }
        ];

        var layout = {
            title: 'Actividades Generales Realizadas por Departamento',
        };

        Plotly.newPlot('plotlyChart', data, layout, { responsive: true });
    });

    var data = [{
        values: [Tierra, Agua, Fuego, Ignis, Aire, Ether, Digimundo],
        labels: ['Tierra', 'Agua', 'Fuego', 'Ignis', 'Aire', 'Ether', 'Digimundo'],
        type: 'pie',
        insidetextorientation: "radial"
    }];


    var layout = {
        height: 600,
        width: 600,
        title: 'Actividades Generales Realizadas por Departamento',
    };

    Plotly.newPlot('plotlyChart2', data, layout);

    /* var data = [{
        x: ['Tierra', 'Agua', 'Fuego', 'Ignis', 'Aire', 'Ether', 'Digimundo'],
        y: [Tierra, Agua, Fuego, Ignis, Aire, Ether, Digimundo],
        type: 'linear',
    }];


    var layout = {
        height: 600,
        width: 600
    };

    Plotly.newPlot('plotlyChart3', data, layout, { responsive: true }); */

    $('#myTable tbody').find('tr').each(function (i, el) {
        var fecha = $(this).find('td').eq(6).text();
        var sep = fecha.split(' ');
        var separado = sep[0];
        console.log(separado);

        for (var i = 0; i <= parametros.length; i++) {
            if (separado == i && separado != 0) {
                valores[i - 1] = valores[i - 1] + 1;
            }

        }

    });
    var data = [{
        x: parametros,
        y: valores,
        type: 'bar',
    }];


    var layout = {
        title: 'Actividades Generales Realizadas por Dia',
        height: 600,
        width: 600
    };

    Plotly.newPlot('plotlyChartAct', data, layout);
</script>


<script>
    var a = ""

    function regresar() {
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        $('#hatput').val(a);
        $('#hatput2').val(a);
        $('#hatput3').val(a);
        for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
        }
        document.getElementById("general").style.display = "initial";
        document.getElementById("filtrosGrafica").style.display = "none";
    }
    function filtra_movi() {
        var input, filter, table, tr, td, i, txtValue;
        var dias = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31];
        var actividades = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        var Enero = 0, Febrero = 0, Marzo = 0, Abril = 0, Mayo = 0, Junio = 0, Julio = 0, Agosto = 0, Septiembre = 0, Octubre = 0, Noviembre = 0, Diciembre = 0;
        input = $("#hatput").val();
        filter = input.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        $('#hatput2').val(a);
        $('#hatput3').val(a);
        document.getElementById("general").style.display = "none";
        document.getElementById("filtrosGrafica").style.display = "initial";
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

        $('#myTable tbody').find('tr').each(function (i, el) {
            var fecha = $(this).find('td').eq(6).text();
            var hatU = $(this).find('td').eq(3).text();
            var sep = fecha.split(' ');
            var separado = sep[0];
            var separado2 = sep[2];
            document.getElementById("general").style.display = "none";
            document.getElementById("filtrosGrafica").style.display = "initial";

            for (var i = 0; i <= dias.length; i++) {
                if (hatU == input) {
                    if (separado == i) {
                        actividades[i - 1] = actividades[i - 1] + 1;
                    }
                }

            }

            if (hatU == input) {
                if (separado2 == 'Enero') {
                    Enero += 1;
                } else if (separado2 == 'Febrero') {
                    Febrero += 1;
                } else if (separado2 == 'Marzo') {
                    Marzo += 1;
                } else if (separado2 == 'Abril') {
                    Abril += 1;
                } else if (separado2 == 'Mayo') {
                    Mayo += 1;
                } else if (separado2 == 'Junio') {
                    Junio += 1;
                } else if (separado2 == 'Julio') {
                    Julio += 1;
                } else if (separado2 == 'Agosto') {
                    Agosto += 1;
                } else if (separado2 == 'Septiembre') {
                    Septiembre += 1;
                } else if (separado2 == 'Octubre') {
                    Octubre += 1;
                } else if (separado2 == 'Noviembre') {
                    Noviembre += 1;
                } else if (separado2 == 'Diciembre') {
                    Diciembre += 1;
                }
            }

        });
        var data = [{
            x: dias,
            y: actividades,
            type: 'bar',
        }];
        var layout = {
            title: 'Actividades Diarias Realizadas por ' + input,
            height: 600,
            width: 600
        };

        Plotly.newPlot('plotlyChartDept', data, layout);

        var data = [{
            x: dias,
            y: actividades,
            type: 'linear',
        }];

        var layout = {
            title: 'Actividades Diarias Realizadas por ' + input,
            height: 600,
            width: 600
        };

        Plotly.newPlot('plotlyChartDept2', data, layout);

        var data = [
            {
                x: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                y: [Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre],
                type: 'bar',
            }
        ];

        var layout = {
            title: 'Actividades Realizadas por Mes por ' + input,
        };

        Plotly.newPlot('plotlyChartMeses', data, layout);
    }
    function filtra_user() {
        var input, filter, table, tr, td, i, txtValue;
        var dias = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31];
        var actividades = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        var Enero = 0, Febrero = 0, Marzo = 0, Abril = 0, Mayo = 0, Junio = 0, Julio = 0, Agosto = 0, Septiembre = 0, Octubre = 0, Noviembre = 0, Diciembre = 0;
        input = $("#hatput2").val();
        filter = input.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        $('#hatput').val(a);
        $('#hatput3').val(a);
        document.getElementById("general").style.display = "none";
        document.getElementById("filtrosGrafica").style.display = "initial";

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

        $('#myTable tbody').find('tr').each(function (i, el) {
            var fecha = $(this).find('td').eq(6).text();
            var userb = $(this).find('td').eq(4).text();
            var sep = fecha.split(' ');
            var separado = sep[0];
            var separado2 = sep[2];

            for (var i = 0; i <= dias.length; i++) {
                if (userb == input) {
                    if (separado == i) {
                        actividades[i - 1] = actividades[i - 1] + 1;
                    }
                }

            }

            if (userb == input) {
                if (separado2 == 'Enero') {
                    Enero += 1;
                } else if (separado2 == 'Febrero') {
                    Febrero += 1;
                } else if (separado2 == 'Marzo') {
                    Marzo += 1;
                } else if (separado2 == 'Abril') {
                    Abril += 1;
                } else if (separado2 == 'Mayo') {
                    Mayo += 1;
                } else if (separado2 == 'Junio') {
                    Junio += 1;
                } else if (separado2 == 'Julio') {
                    Julio += 1;
                } else if (separado2 == 'Agosto') {
                    Agosto += 1;
                } else if (separado2 == 'Septiembre') {
                    Septiembre += 1;
                } else if (separado2 == 'Octubre') {
                    Octubre += 1;
                } else if (separado2 == 'Noviembre') {
                    Noviembre += 1;
                } else if (separado2 == 'Diciembre') {
                    Diciembre += 1;
                }
            }
        });

        var data = [{
            x: dias,
            y: actividades,
            type: 'bar',
        }];
        var layout = {
            title: 'Actividades Diarias Realizadas por ' + input,
            height: 600,
            width: 600
        };

        Plotly.newPlot('plotlyChartDept', data, layout);

        var data = [{
            x: dias,
            y: actividades,
            type: 'linear',
        }];

        var layout = {
            title: 'Actividades Diarias Realizadas por ' + input,
            height: 600,
            width: 600
        };

        Plotly.newPlot('plotlyChartDept2', data, layout);

        var data = [
            {
                x: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                y: [Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre],
                type: 'bar',
            }
        ];

        var layout = {
            title: 'Actividades Realizadas por Mes por ' + input,
        };

        Plotly.newPlot('plotlyChartMeses', data, layout);
    }

    function filtra_dept() {
        var input, filter, table, tr, td, i, txtValue;
        var dias = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31];
        var actividades = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        var Enero = 0, Febrero = 0, Marzo = 0, Abril = 0, Mayo = 0, Junio = 0, Julio = 0, Agosto = 0, Septiembre = 0, Octubre = 0, Noviembre = 0, Diciembre = 0;
        var elementos = 0;
        input = $("#hatput3").val();
        filter = input.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        $('#hatput').val(a);
        $('#hatput2').val(a);
        document.getElementById("general").style.display = "none";
        document.getElementById("filtrosGrafica").style.display = "initial";

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[5];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    elementos = elementos + 1;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

        $('#myTable tbody').find('tr').each(function (i, el) {
            var fecha = $(this).find('td').eq(6).text();
            var dpto = $(this).find('td').eq(5).text();
            var sep = fecha.split(' ');
            var separado = sep[0];
            var separado2 = sep[2];
            document.getElementById("general").style.display = "none";
            document.getElementById("filtrosGrafica").style.display = "initial";
            for (var i = 0; i <= dias.length; i++) {
                if (dpto == input) {
                    if (separado == i) {
                        actividades[i - 1] = actividades[i - 1] + 1;
                    }
                }

            }
            if (dpto == input) {
                if (separado2 == 'Enero') {
                    Enero += 1;
                } else if (separado2 == 'Febrero') {
                    Febrero += 1;
                } else if (separado2 == 'Marzo') {
                    Marzo += 1;
                } else if (separado2 == 'Abril') {
                    Abril += 1;
                } else if (separado2 == 'Mayo') {
                    Mayo += 1;
                } else if (separado2 == 'Junio') {
                    Junio += 1;
                } else if (separado2 == 'Julio') {
                    Julio += 1;
                } else if (separado2 == 'Agosto') {
                    Agosto += 1;
                } else if (separado2 == 'Septiembre') {
                    Septiembre += 1;
                } else if (separado2 == 'Octubre') {
                    Octubre += 1;
                } else if (separado2 == 'Noviembre') {
                    Noviembre += 1;
                } else if (separado2 == 'Diciembre') {
                    Diciembre += 1;
                }
            }
        });

        var data = [{
            x: dias,
            y: actividades,
            type: 'bar',
        }];
        var layout = {
            title: 'Actividades Diarias Realizadas por ' + input,
            height: 600,
            width: 600
        };

        Plotly.newPlot('plotlyChartDept', data, layout);

        var data = [{
            x: dias,
            y: actividades,
            type: 'linear',
        }];

        var layout = {
            title: 'Actividades Diarias Realizadas por ' + input,
            height: 600,
            width: 600
        };

        Plotly.newPlot('plotlyChartDept2', data, layout);

        var data = [
            {
                x: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                y: [Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre],
                type: 'bar',
            }
        ];

        var layout = {
            title: 'Actividades Realizadas por Mes por ' + input,
        };

        Plotly.newPlot('plotlyChartMeses', data, layout);
    }


</script>
<script>
    function post() {
        $.ajax({
            url: "{% url 'hats' %}",
            type: "POST",
            data: {
                'actividad': $('#actividadField').val(),
                'descripcion': $('#descripcionField').val(),
                'hat_id': $('#hatField').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',


            },
            success: function (data) {
                console.log(data)
                console.log("Success");

            }
        });

    }
</script>
<!-- Profile -->
<!-- <div class="profile">
    {% load static from static %}
    <img src="{{user.profile.image.url}}">
    <h2>{{ user.username }}</h2>

</div>

<div class="profile">
    {% if user.is_superuser%}
    <h2><i style="color: gold;" class='fas fa-crown'></i>&nbsp; Eres Admin </h2>
    {%else%}
    <h2> No eres Admin :(</h2> 
    {%endif%}
</div>




{% for user in users %}
<div class="espaciohats">

    <div class="hats">
        <div class="carta_perfi">
            <div class="carta_header">
                <div class="avatar">
                    <img src="{{ user.profile.image.url }}" alt="">
                </div>
                <div class="textos">
                    <h2 class="username"><a href="{%url 'profile' user.username%}"><span>
                                {{user.information.first_name}}
                                {{ user.information.last_name }}</span></a></h2>
                    <h4>Hats:</h4>
                </div>
            </div>
            <div class="carta_body">
                <div class="carta_contenido">
                    <ul class="lista">
                        <li style="font-size: 15px;"><i class="fa fa-check"></i>Puesto: {{ user.information.puesto }}
                        </li>
                        <li style="font-size: 15px;"><i class="fa fa-check"></i>Departamento:
                            {{user.information.departamento }}</li>
                        <li style="font-size: 15px;"><i class="fa fa-check"></i>Ingreso: {{ user.egresos.ingreso }}</li>
                        <li style="font-size: 15px;"><i class="fa fa-check"></i>Egreso: {{ user.egresos.egreso}}</li>
                        <li style="font-size: 15px;"><i class="fa fa-check"></i>Correo: {{ user.email }}</li>
                    </ul>
                    <div class="carta_pie">
                        <button class="carta_boton" type="button">Ver mas</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endfor %} -->


<style>
    .espaciohats {
        margin-bottom: 0px;
        margin-top: 100px;
        margin-left: -50px;
    }

    @media (max-width:720px) {
        .espaciohats {
            margin-left: -100px;
            display: block;
            width: 100%;
        }
    }

    .hats {
        justify-content: center;
        align-items: center;
        margin-left: 32%;
        margin-right: 50%;
        display: block;
        width: 100%;
    }


    .carta_perfi img {
        width: 100%;
    }

    .carta_perfi {
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        width: 330px;
        position: relative;
    }

    .carta_perfi .carta_header {
        display: flex;
        width: 100%;
        height: 120px;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        background-color: #1594A6;
        top: 0;
        padding-bottom: 15px;
        text-align: center;
        color: #fff;
        transition: all ease-in 350ms;
        z-index: 1;
        border-radius: .75rem;
        line-height: .2;
    }

    .carta_perfi .carta_header .textos h3 {
        font-size: 1.3em;
        margin-bottom: 0;
    }

    .carta_perfi .carta_header .textos h4 {
        font-size: .8em;
        font-style: italic;
    }

    .carta_perfi .carta_header .avatar {
        display: block;
        width: 100px;
        height: 100px;
        position: absolute;
        background-color: #E1E8F0;
        top: -50px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #fff;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1);
    }



    .carta_perfi .carta_header button:hover {
        background-color: #E9E9E9;

    }

    .carta_perfi .carta_body {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 0px;
        overflow: hidden;
        padding-bottom: 20px;
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, .1), 0 0 8px 1px rgba(0, 0, 0, .1);
        border-radius: .75rem;
        opacity: 0;
        height: 375px;
        opacity: 1;
        visibility: visible;
    }

    .carta_perfi .carta_body ul {
        margin-bottom: 1.75rem;
        list-style: none;
    }

    .carta_perfi .carta_body ul li {
        margin-bottom: .5rem;
    }

    .carta_perfi .carta_body ul i {
        margin-right: 1rem;
        display: inline-block;
        transform: scale(1.25);
    }

    .carta_perfi .carta_body ul li:nth-child(1) i {
        color: #668EE8;
    }

    .carta_perfi .carta_body ul li:nth-child(2) i {
        color: #5BC7B1;
    }

    .carta_perfi .carta_body ul li:nth-child(3) i {
        color: #FF5050;
    }

    .carta_perfi .carta_body .carta_pie {
        text-align: center;
    }

    .carta_perfi .carta_body .carta_boton {
        padding: 10px 25px;
        border-radius: .25rem;
        border: 0;
        background-color: #1594A6;
        color: #fff;
        cursor: pointer;
    }

    .carta_perfi .carta_body .carta_boton:active {
        background-color: #188291;
    }
</style>


{% endblock %}