{% extends 'social/layout.html' %}
{% load static %}
{% load i18n %}

{% block link %}



{% endblock link %}
{% block title %}
Information
{% endblock title %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  

  <form>
  {% csrf_token %}

    <h2 style="color:red;">Una vez que Actualices tus datos , no podras cambiarlos , solo el administrador </h2>
    <div class="form-group">
      <input type="hidden" class="form-control" id="idField" value="{{user.id}}">
    </div>
    <div class="form-group">
      <label for="first_namaField">{{_('Nombre')}}</label>
      <input type="text" class="form-control" id="first_nameField" placeholder="{{ _('Escribe tu nombre') }}">
    </div>
    <div class="form-group">
      <label for="last_nameField">{{_('Apellido')}}</label>
      <input type="text" class="form-control" id="last_nameField" placeholder="{{ _('Escribe tu Apellido') }}">
    </div>

    <div class="form-group">
      <label for="telefonoField">{{_('Telefono')}}</label>
      <input type="text" class="form-control" id="telefonoField" placeholder="{{ _('Escribe tu numero de telefono') }}">
    </div>

    <div class="form-group">
      <label for="telefono_casaField">{{_('Telefono de casa')}}</label>
      <input type="text" class="form-control" id="telefono_casaField"
        placeholder="{{ _('Escribe tu numero de casa') }}">
    </div>

    <div class="form-group">
      <label for="contacto_emergenciaField">{{_('Nombre de contacto de emergencia')}}</label>
      <input type="text" class="form-control" id="contacto_emergenciaField"
        placeholder="{{ _('Escribe el nombre de tu contacto de emergencia') }}">
    </div>
    <div class="form-group">
      <label for="telefono_emergenciaField">{{_('Telefono de emergencia')}}</label>
      <input type="text" class="form-control" id="telefono_emergenciaField"
        placeholder="{{ _('Escribe el telefono de tu contacto de emergencia') }}">
    </div>
     <div class="form-group" style="margin-top:10px; margin-bottom:20px;">
      <label for="departamentoField">{{_('Departamento')}}</label>
      <select id="departamentoField" name="pais" required class="form-control">
              <option value="" disabled selected>{{_('Selecciona tu departamento')}}</option>
              <option value="Tierra">Tierra</option>
              <option value="Agua">Agua</option>
              <option value="Fuego">Fuego</option>
              <option value="Aire">Aire</option>
              <option value="Equipo Azul">Equipo Azul</option>
              <option value="Equipo Rojo">Equipo Rojo</option>
            </select>
    </div>
    <div class="form-group">
      <label for="nacimientoField">{{_('Fecha de nacimiento')}}</label>
      <input type="date" class="form-control" id="nacimientoField" placeholder="{{ _('') }}">
    </div>
    <div class="form-group">
      <label for="direccionField">{{_('Direccion')}}</label>
      <input type="text" class="form-control" id="direccionField" placeholder="{{ _('Escribe tu direccion') }}">
    </div>
    <div class="form-group">
      <label for="puestoField">{{_('Puesto')}}</label>
      <input type="text" class="form-control" id="puestoField" placeholder="{{ _('Escribe tu puesto') }}">
    </div>


    <button onclick="hacer()" type="submit" class="btn btn-blue ">{{_('Actualizar')}}</button>



  </form>



  <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>




  function hacer(){
    $.ajax({
      url: "{% url 'information' %}",
      type: "POST",
      data: {
        'first_name': $('#first_nameField').val(),
        'last_name': $('#last_nameField').val(),
        'telefono': $('#telefonoField').val(),
        'telefono_casa': $('#telefono_casaField').val(),
        'nacimiento': $('#nacimientoField').val(),
        'direccion': $('#direccionField').val(),
        'puesto': $('#puestoField').val(),
        'contacto_emergencia': $('#contacto_emergenciaField').val(),
        'telefono_emergencia': $('#telefono_emergenciaField').val(),
        'departamento': $('#departamentoField').val(),
        'user_id': $('#idField').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        

      },
      success: function (data) {
            console.log(data)
            console.log("Success");
        }
    });
    console.log(data);
  }
  </script>
</body>

</html>


{% endblock %}

