<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Cardex</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	
	<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

	<header class="main-head">
		<nav class="main">
			<h1 id="logo">TESCA CORPORATION</h1>
			<ul>
				<!-- Estilos: style="background-color: rgb(0, 31, 66); border-radius: 10px; color: aliceblue;" -->
				{% if request.user.is_authenticated %}
				<li><a class="salir" href="{% url 'logout' %}">Salir de la sesión</a></li>
				<li><a class="profile" href="{% url 'profile' request.user.username %}">Mi Perfil</a></li>
				<nav class="second-nav">
					<li><a class="feed" href="{% url 'feed' %}">Inicio</a></li>
				</nav>
				<li><img style="padding-bottom: -5px; height: 60px; width: 60px; border-radius: 50%;"
						src="{{ request.user.profile.image.url }}"></li>
				{% else %}
				<li><a href="{% url 'register' %}">Registrarse</a></li>
				<li><a href="{% url 'login' %}">Entrar</a></li>
				{% endif %}


			</ul>
		</nav>
	</header>

	{% if messages %}
	{% for message in messages %}
	<div class="notification {{ message.tags}}">
		{{ message }}
	</div>
	{% endfor %}
	{% endif %}

	<!-------------------------------------
					Navigation Bar 
	-------------------------------------->
	<div class="main">

		<nav class="second-nav">
			{% if request.user.is_authenticated %}
			<a class="hero" href="{% url 'post' %}">Registra tu entrada o salida</a>

			<br>

			<a class="btnInf" href="{% url 'information' %}">Actualiza tu informacion</a>
			{% endif %}
		</nav>


		{% block content %}

		{% endblock content %}



	</div>

	<footer>
		<div class="row">
			<p>TESCA CORPORATION</p>
		</div>
	</footer>

</body>

</html>