{% extends 'social/feed.html' %}
<!--{% load static %}-->
{% block content %}

<head>
    <script src="https://kit.fontawesome.com/c8ee4f8012.js" crossorigin="anonymous"></script>
</head>
<!-- Profile -->
<div class="profile">
    {% load static from static %}
    <img src="{{user.profile.image.url}}">
    <h2>{{ user.username }}</h2>
    <!-- <h2 style="color: gray;"><span>{{ user.information.first_name }} {{ user.information.last_name }}</span></h2> -->


    <!-- {% if request.user.is_authenticated %}
	{% if user.username != request.user.username %}
	{% if user not in request.user.profile.following %}
	<button><a class="follow-button" href="{% url 'follow' user %}">Siguir</a></button>
	{% else %}
	<button><a class="follow-button" href="{% url 'unfollow' user %}">Seguidor</a></button>
	{% endif %}
	{% endif %}
	{% endif %} -->
</div>

<div class="profile">
    {% if user.is_superuser%}
    <h2><i style="color: gold;" class='fas fa-crown'></i>&nbsp; Eres Admin </h2>
    {%else%}
    <!-- <h2> No eres Admin :(</h2> -->
    {%endif%}
</div>

<div style="background-color: cornflowerblue;">


    <hr>

    <div class="profile" style="margin-top: 20px;">
        <h2><i class="fa fa-stethoscope"></i>&nbsp;Pefiles Medico</h2>
    </div>

    <hr>

</div>


<div style="margin: 10px;">

    {% for user in users %}
    


        <div class="profile">
            <a class="boton-datosmedicos"  href="{% url 'datosmedicos' user.username %}" >Actualizar datos medicos</a>
            <a class="boton-datosmedicos">Adjuntar archivos medicos</a>
            <a class="boton-datosmedicos">Adjuntar Justificantes</a>
        </div>

        <div class="profile">
            <img src="{{ user.profile.image.url }}">
        </div>

        <table border="1" width="100%" align="center" cellpadding="10px" style="margin-bottom: 50px;">


            <tr>
                <td>
                    <h2 class="username"><a href="{%url 'profile' user.username%}"><span> {{ user.information.first_name}}
                                {{ user.information.last_name }}</span></a></h2>
                </td>
                <td>Puesto: <strong> {{ user.information.puesto }} </strong></td>
                <td>Departamento: <strong> {{ user.information.departamento }} </strong></td>
            </tr>
            <tr>
                <td>Ingreso: {{ user.egresos.ingreso }}</td>
                <td>Egreso: {{ user.egresos.egreso}} </td>
                <td><strong> {{ user.email }} </strong></td>
            </tr>
        </table>
        <hr style="margin-bottom: 50px;">
  
    {% endfor %}

</div>

<script>

</script>
<style>

</style>


{% endblock %}