{% extends 'social/layout.html' %}

{% block content %}

<script>
	var meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
	window.onload = function () {
		let date = new Date();
		var hora = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
		var hora1 = date.getHours();
		var mes = date.getMonth();
		var dia = date.getDate();
		var año = date.getFullYear();
		var fechac = dia +" de " +meses[mes] +" de " + año;
		 
		var hora2 = date.getMinutes()
		var hocom = hora
		$('#hora1').val(hocom);
		$('#id_entrada').val(hocom);
		$('#id_Fecha').val(fechac);


		var mensaje1 = "A Tiempo"
		var mensaje2 = "Retardo"
		var important = document.getElementById('id_status');
		important.disabled = false;

		if (hora1 < '9') {
			$('#id_status').val(mensaje1);
		} else if (hora1 == '9') {
			if (hora2 <= '15') {
				$('#id_status').val(mensaje1);
			} else {
				$('#id_status').val(mensaje2);
			}
		} else if (hora1 >= '17') {
			$('#id_status').val(mensaje1);
		} else {
			$('#id_status').val(mensaje2);
		}

	};
</script>

<style>
	.entradas {
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.entradas label {
		display: none;
	}

	.entradas input {
		text-align: center;

	}

	#id_status {
		display: none;
	}

	#id_entrada, #id_Fecha{
		display: none;
	}

	.entradas select {
		width: 100%;
		text-align: center;
		margin-bottom: 3%;
	}
</style>

<input type="text" id="hora1" disabled style="text-align: center; display: none;">


<form method="post" class="entradas">
	{% csrf_token %}

	{{ form }}
	<button type="submit" class="post" id="">Registrar</button>

</form>

{% endblock %}