{% extends 'social/feed.html' %}
<!--{% load static %}-->
{% block content %}

{%load static%}

<head>
	<script src="https://kit.fontawesome.com/c8ee4f8012.js" crossorigin="anonymous"></script>
</head>
<!-- Profile -->
<div class="profile">
	{% load static from static %}
	<img src="{{user.profile.image.url}}">
	<h2>{{ user.username }}</h2>
</div>

<div class="profile">
	{% if user.is_superuser%}
	<h2><i style="color: gold;" class='fas fa-crown'></i>&nbsp; Eres Admin </h2>
	{%endif%}
</div>

<div class="codQR"> <!-- {{ user.information.first_name }} {{ user.information.last_name }} -->
	<a href="{% url 'generar_codigo_qr' user.id %}"
		download="{{ user.information.first_name }}_{{ user.information.last_name }}_qr.png">
		<img src="{% url 'generar_codigo_qr' user.id %}" alt="Código QR de usuario" class="QR-code">
	</a>
</div>

<!--Piso 0 -->
<div class="follow">
	<div>
		{% if user.information.is_leader %}

		<h5 style='padding-bottom: 20px'> <i style="color: gold;" class="fa fa-star" aria-hidden="true"></i>&nbsp;Eres
			Lider
			del equipo {{user.information.departamento}} </h5>

		{% else %}
		<h5 style='padding-bottom: 20px'> <i class="fa fa-users" aria-hidden="true"></i>&nbsp;Eres Parte del equipo
			{{user.information.departamento}}</h5>
		{% endif %}
	</div>

</div>


<style>
	.codQR {
		width: 100%;
		height: 270px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.QR-code {
		width: 250px;
		height: 250px;
	}
</style>


<h1 style="text-align: center;"> Hats Asignados</h1>
<div class="follow" style="height: 50px; align-items: center;">

	{% for registros in registros %}
	<div style="font-size: 15px;">
		{{registros.hat.nombre_hat}}
	</div>
{% endfor %}
</div>


<div class="profile1">
	{%if user.id == user.information.user_id %}
	<div class="profile1">
		<a class="btnInf" style="color: red;">Ya actualizaste tu informacion</a>
	</div>
	{%else%}

	<div class="profile1">
		<a class="btnInf" href="{% url 'information' %}">Actualiza tu informacion</a>
	</div>
	{% endif %}

</div>

<div class="profile1">

	<div class="profile1">
		{% if cantidad_registros < 4 %} <a class="btnInf btnfuncional" href="{% url 'asignarhat' %}"
			style="text-align: center;">Asigna tu hat</a>
			{% else %}
			<a class="btnInf btnnof" style="color: red; text-align: center;">Haz alcanzado el limite de hats</a>
			{% endif %}
	</div>

</div>




<div class="profile1">

	<div class="profile1">
		{% if cantidad_registros < 4 %} <a class="btnInf btnfuncional" href="{% url 'asignaregreso' %}"
			style="text-align: center;">Asigna tú periodo</a>
			{% else %}
			<a class="btnInf btnnof" style="color: red; text-align: center;">Haz alcanzado el limite de modificaciones</a>
			{% endif %}
	</div>

</div>


<!-- PISO 1 -->
<div class="follow">
	<div>
		<h5>Entradas y Salidas Registradas</h5>
		<p>{{ user.posts.count }}</p>
	</div>
</div>

<!-- PISO 2 -->

<div class="follow">
	<div>
		<h5>Nombre Completo</h5>
		<h2 style="color: gray;"><span>{{ user.information.first_name }} {{ user.information.last_name }}</span></h2>
	</div>
</div>

<div class="follow">
	<div>
		<h5>Dirección</h5>
		<p>{{ user.information.direccion }}</p>
	</div>
</div>

<!-- PISO 3 -->

<div class="follow">
	<div>
		<h5>Fecha de nacimiento</h5>
		<p>{{ user.information.nacimiento }}</p>
	</div>
	<div>
		<h5>Teléfono Personal</h5>
		<p>{{ user.information.telefono }}</p>
	</div>
	<div>
		<h5>Teléfono de Casa</h5>
		<p>{{ user.information.telefono_casa }}</p>
	</div>
</div>

<!-- PISO 4 -->

<div class="follow">
	<div>
		<h5>Fecha de ingreso</h5>
		<p>{{ periodo.ingreso }}</p>
	</div>
	<div>
		<h5>Fecha de egreso</h5>
		<p>{{ periodo.egreso}}</p>
	</div>
	<div>
	



<h5>Periodo Transcurrido</h5>
{% if anios_transcurridos or meses_transcurridos or dias_transcurridos %} <!--verifica si hay al menos un valor entre años,mes,dias-->
    <p>
        {% if anios_transcurridos %}<!--verifica si hay años-->
		
            {{ anios_transcurridos }} año{{ anios_transcurridos|pluralize:"s" }}
<!--Muestra años transcurridos y utiliza el filtro pluralize para manejar la pluralización del texto"año"-->			
        {% endif %}


        {% if meses_transcurridos %}<!--verifica si hay meses-->
          
            {{ meses_transcurridos }} mes{{ meses_transcurridos|pluralize:"es" }}
			{% if anios_transcurridos or dias_transcurridos %}  {% endif %}<!--si tambien hay años agregalos-->
<!--meses transcurridos y utiliza el filtro pluralize para manejar la pluralización del texto "mes"-->						
        {% endif %}


        {% if dias_transcurridos %}<!--verifica si hay meses-->
            {% if anios_transcurridos or meses_transcurridos %} y {% endif %}<!-- si tambien hay meses y años se agrega "y"-->
            {{ dias_transcurridos }} día{{ dias_transcurridos|pluralize:"s" }}
<!--meses transcurridos y utiliza el filtro pluralize para manejar la pluralización del texto "dias"-->				
        {% endif %}
        transcurrido(s)
    </p>
{% else %}
    <p>No se puede calcular.</p>
{% endif %}

</div>
</div>








<!-- PISO 5 -->

<div class="follow">
	<div>
		<h5>Departamento(s)</h5>
		<p>{{ user.information.departamento }}</p>
	</div>

	<div>
		<h5>Puesto</h5>
		<p>{{ user.information.puesto }}</p>
	</div>
	<div>
		<h5>Correo</h5>
		<p>{{ user.email }}</p>
	</div>
</div>

<!-- CONTACTO DE EMERGENCIA -->

<div class="follow">
	<div>
		<h5>Contacto de Emergencia</h5>
		<p>{{ user.information.contacto_emergencia }}</p>
	</div>
	<div>
		<h5>Teléfono de Emergencia</h5>
		<p>{{ user.information.telefono_emergencia }}</p>
	</div>
</div>


<div>

</div>


<style>

</style>

{{ block.super }}
{% endblock %}