{% extends 'social/layout.html' %}
{% load humanize %}
{% block content %}



<div>
    <h1 style="justify-content: center; display: flex;">Selecciona el boton para marcar tu entrada o tu salida</h1>
    <br>
    <br>

    <div class="regisasis">

        {% if request.user.is_authenticated %}
        <a class="hero" href="{% url 'post' %}">Registra tu entrada o salida</a>
        <br>
        {% endif %}

    </div>
</div>

{% if user.is_superuser%}
<br>
<br><br><br>
<hr width=50% size=10 noshade="noshade">

<div class="regasis">
    <h1 style="justify-content: center; display: flex;">Aqui podras ver las entradas de todos y de tu equipo</h1>
</div>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filtrar por departamentos.." title="Type in a name">
<article>
    <div>

        <div class="scroll_horizontal">
            <table id="myTable">

                <tr class="header">
                    <th style="width:20%;">Foto</th>
                    <th style="width:20%;">Departamento</th>
                    <th style="width:20%;">Usuario</th>
                    <th style="width:20%;">Descripcion</th>
                    <th style="width:50%;">Hora </th>
                </tr>
                {% for post in posts%}
                <tr>
                    <td>
                        <div class="container-article"><img src="{{ post.user.profile.image.url }}"></div>
                    </td>
                    <td>{{ post.user.information.departamento }}</td>
                    <td><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></td>
                    <td>{{ post.content }}</td>
                    <td><time style="color: #14344F;"> <strong> Tu hora de {{ post.content }} del día </strong>
                            {{ post.timestamp }}</time></td>

                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</article>

{% endif %}


<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<style>
    .scroll_horizontal {
        overflow-y: hidden;
        overflow-x: auto;
    }

    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

    #myTable th,
    #myTable td {
        text-align: left;
        padding: 12px;
    }

    #myTable tr {
        border-bottom: 1px solid #ddd;
    }

    #myTable tr.header,
    #myTable tr:hover {
        background-color: #f1f1f1;
    }
</style>



{% endblock %}
